body{
	background:#800020;
	color:#EBD2A7;
	font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", "Times New Roman", serif;
}

h1{
	text-align: center;
	color:#FFC060;
}

h2{
	text-align: center;
	color:#FFC060;
}
h3{
	text-align: left;
	color:#FFC060;
}

p{
    margin:16px;
    text-align: justify;
    text-justify: inter-word;
}

footer{
    font-size:8px;
}

figure img{
	border:5px solid transparent;
	border-radius:10px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

figure img:hover{
	border:5px solid #FFC060;
}
figure img:active{
	border:5px solid white;
}

.figure-row{
	display:flex;
	gap:0.1rem;
	flex-wrap:wrap;
	justify-content:center;
}

.page{
	max-width: 1024px;
	margin: 0 auto;
	padding: 32px;
}

.centered{
	width: fit-content;
	margin: 0 auto;
}

a{
	color:#EBD2A7;
}
a:hover{
	color:#FFC060;
}
a:active{
	color:white;
}
.title{
	text-align:center;
	font-weight:bold;
}
.item {
    display: grid;
    grid-template-rows:
        200px
        3em
        3em
        auto;

    gap: 0.75rem;
    max-width: 315px;
    text-align: center;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.desc {
    text-align: justify;
}

.collab {
    text-align: center;
    font-weight: bold;
}